<div class="container">
    <div class="inner">
        <div class="tb-heading col-row tb-row">
        </div>
        <ul class="users clearfix grid-layout">
            {{#eachProperty moduleCompletion}}
                <li>{{property}}: {{value}}</li>
            {{/eachProperty }}
        </ul>

        <ul class="users clearfix grid-layout">
            {{#eachProperty completedModulesCount}}
                <li>{{property}}: {{value}}</li>
            {{/eachProperty }}
        </ul>

        <div class="action-buttons">
            <button class="btn tertiary-hollow refresh-all">{{t 'app.refresh'}}</button>
        </div>
    </div>
</div>